@import "tailwindcss";

@import "../../vendor/wireui/wireui/ts/global.css";
@source '../../vendor/wireui/wireui';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-primary-100: #e8d5d2;
    --color-primary-200: #d1aba6;
    --color-primary-300: #b98179;
    --color-primary-400: #a2574d;
    --color-primary-500: #8b2d20;
    --color-primary-600: #6f241a;
    --color-primary-700: #531b13;
    --color-primary-800: #38120d;
    --color-primary-900: #1c0906;

    --color-secondary-100: #fefdfb;
    --color-secondary-200: #fdf9f5;
    --color-secondary-300: #fbf4eb;
    --color-secondary-400: #f8eedd;
    --color-secondary-500: #f4e6ca;
    --color-secondary-600: #edd9b3;
    --color-secondary-700: #e3ca96;
    --color-secondary-800: #d6b574;
    --color-secondary-900: #c49c4d;
}
